@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pulse-ring {
    animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(249, 115, 22, 0);
  }
  100% {
    transform: scale(0.8);
    box-shadow: 0 0 0 0 rgba(249, 115, 22, 0);
  }
}

html {
  scroll-behavior: smooth;
}
